<div class="col-md-10 col-centered" ng-controller="AboutCtrl">

    <!-- Settings -->
    <div class="row">

        <div class="col-sm-10">
            <h3>Settings</h3>
            <table class="table table-condensed row-centered">
                <thead>
                    <tr>
                        <th>Setting</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="like-sm-input" ng-repeat="(k, v) in appConfig">
                        <td>{{ k }}</td>
                        <td>{{ v }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>