<div class="col-md-10 col-centered" ng-controller="TaskListCtl">
    <div class="row list-header">
        <h2>Tasks</h2>
        <div class="list-actions">
            <button ng-click="newTaskConf.addingTask = !newTaskConf.addingTask" type="button" class="btn btn-success btn-sm">New</button>
            <button ng-click="data.refreshTasks()" type="button" class="btn btn-info btn-sm">Refresh List</button>
        </div>
    </div>
    <div class="row create-item-area" ng-if="newTaskConf.addingTask">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="newTaskType" class="col-sm-2 control-label">New Task Type</label>
                <div class="col-sm-10">
                    <select 
                        class="form-control" 
                        id="newTaskType" 
                        ng-model="newTaskConf.newTaskType" 
                        ng-change="newTaskConf.changedTaskType()"
                        ng-options="taskType.name for taskType in data.taskTypes">
                    </select>
                </div>
            </div>
        </form>

        <form class="form-horizontal" ng-if="newTaskConf.newTaskType" name="newTaskForm">
            <!-- Description -->
            <hr ng-if="!!newTaskConf.newTaskType.description" />
            <div class="form-group" ng-if="!!newTaskConf.newTaskType.description" >
                <label for="newTaskSettings" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <div class="form-control-static">
                        <pre>{{ newTaskConf.newTaskType.description }}</pre>
                    </div>
                </div>
            </div>

            <hr/>
            <div class="form-group">
                <label for="newTaskSettings" class="col-sm-2 control-label">Environment Settings</label>
                <div class="col-sm-10">
                    <table class="table table-condensed row-centered">
                        <thead>
                            <tr>
                                <th>Setting</th>
                                <th>Value</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- List default values -->
                            <tr 
                                ng-repeat="item in newTaskConf.newTaskType.environment.default track by item.name" 
                                class="like-sm-input active">
                                <td>{{ item.name }}</td>
                                <td>{{ item.value }}</td>
                                <td>{{ item.description }}</td>
                                <td><span class="label label-default">Default</span></td>
                                <td></td>
                            </tr>

                            <!-- List required / optional / user added values -->
                            <tr 
                                class="like-sm-input"
                                ng-repeat="item in newTaskConf.newTask.environment"
                                ng-class="(!item.required || newTaskForm[item.name + '_value'].$valid) ? '' : 'warning' ">
                                <td>
                                    <input type="text" class="form-control input-sm" placeholder="setting" ng-model="item.name" ng-disabled="item.required">
                                </td>
                                <td>
                                    <input 
                                        type="text" 
                                        class="form-control input-sm" 
                                        name="{{ item.name }}_value"
                                        placeholder="value" 
                                        ng-model="item.value"
                                        ng-required="item.required"
                                        >
                                </td>
                                <td>{{ item.description }}</td>
                                <td>
                                    <span class="label label-primary" ng-if="item.required" >Required</span>
                                    <span class="label label-default" ng-if="!item.required" >Optional</span>
                                </td>
                                <td>
                                    <a class="danger" ng-if="!item.required" ng-click="newTaskConf.removeParam($index)">Remove</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-sm-offset-10 col-sm-2 pull-right">
                    <button type="button" class="btn btn-sm pull-right" ng-click="newTaskConf.addParam()">Add setting</button>
                </div>
            </div>

            <!-- Submit -->
            <hr/>
            <div class="form-group submit">
                <div class="col-sm-offset-8 col-sm-4 pull-right">
                    <button 
                        type="submit" 
                        class="btn btn-success btn-sm stacked-right" 
                        ng-click="newTaskConf.launchTask()"
                        ng-disabled="!newTaskForm.$valid">
                        Launch Task
                    </button>
                    <button type="submit" class="btn btn-danger btn-sm stacked-right" ng-click="newTaskConf.addingTask = false">Cancel</button>
                    <button type="submit" class="btn btn-sm stacked-right" ng-click="newTaskConf.changedTaskType()">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row filter-details">
        <div>
            <p class="text-muted" ng-click="filterConfig.editing = !filterConfig.editing">
                {{ filterConfig.getDescriptionPrefix() }} {{ filterConfig.getDescriptionPostfix() }}
            </p>
        </div>
    </div>

    <div class="row filter-edit" ng-if="!!filterConfig.editing">
        <form class="form-horizontal" name="filterForm">
            <div class="form-group">
                <label for="taskFilterTags" class="col-sm-2 control-label">Tags</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="filterConfig.tags" placeholder="blue,red">
                    <span class="help-block">A comma separated list of tag values with no spaces between them. Matching tasks must have all of these tags.</span>
                </div>
            </div>

            <div class="form-group">
                <label for="taskFilterStates" class="col-sm-2 control-label">States</label>
                <div class="col-sm-10">
                    <select 
                        class="form-control" 
                        multiple
                        ng-model="filterConfig.states" 
                        ng-options="state for state in taskStates">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="taskFilterTypes" class="col-sm-2 control-label">Task Types</label>
                <div class="col-sm-10">
                    <select 
                        class="form-control" 
                        multiple
                        ng-model="filterConfig.taskTypes" 
                        ng-options="taskType for taskType in taskTypeNames">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="taskFilterStartDate" class="col-sm-2 control-label">Earliest Creation Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="filterConfig.startDate" placeholder="2015/02/28 16:42">
                    <span class="help-block">The creation date of the oldest task you'd like to see listed. Format like: `2015/02/28 16:42`</span>
                </div>
            </div>

            <div class="form-group">
                <label for="taskFilterEndDate" class="col-sm-2 control-label">Latest Creation Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="filterConfig.endDate" placeholder="2015/02/28 16:42">
                    <span class="help-block">The creation date of the newest task you'd like to see listed. Format like: `2015/02/28 16:42`</span>
                </div>
            </div>

            <!-- Submit -->
            <hr/>
            <div class="form-group submit">
                <div class="col-sm-offset-8 col-sm-4 pull-right">
                    <button type="submit" class="btn btn-sm stacked-right" ng-click="filterConfig.editing = !filterConfig.editing">Close</button>
                </div>
            </div>

        </form>
    </div>

    <table class="table table-condensed table-hover row-centered">
        <thead> 
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Type</th>
                <th>Tags</th>
                <th>Env Var Selection</th>
                <th>Date Created</th>
                <th>Date Started</th>
                <th>Date Last Updated</th>
                <th>State</th>
                <th>Actions</th>
            </tr> 
        </thead>
        <tbody>
            <tr ng-repeat="task in data.tasks track by task.id">
                <th scope="row">{{ ($index+1) }}</th>
                <td ng-if="task.startedTs !== 0"><a ng-href="/#/task/{{task.id}}">{{ task.id | limitTo: 8 }}</a></td>
                <td ng-if="task.startedTs === 0">{{ task.id | limitTo: 8 }}</td>
                <td><a ng-href="{{baseUrl}}/task_type/{{task.type}}">{{ task.type }}</a></td>
                <td>
                    <span
                        class="truncated"
                        title="{{ task.tags.join('\n') }}">
                        {{ task.tags.join(', ') }}
                    </span>
                </td>
                <td>
                    <span 
                        class="truncated" 
                        title="{{ task.allFeatures.join('\n') }}">
                        {{ task.bestFeatures.join(', ') }}
                    </span>
                </td>
                <td>{{ task.createdTs | date:'yyyy/MM/dd HH:mm:ss a' }}</td>
                <td ng-if="task.startedTs === 0" >None</td>
                <td ng-if="task.startedTs !== 0" >{{ task.startedTs | date:'yyyy/MM/dd HH:mm:ss a' }}</td>
                <td>{{ task.lastUpdatedTs | date:'yyyy/MM/dd HH:mm:ss a' }}</td>
                <td> <span class="label label-{{ task.labelClass }}">{{ task.state }}</span> </td>
                <td>
                    <a ng-if="!task.hasResults" class="danger" ng-click="data.stopTask(task)">Cancel</a>
                    <a ng-if="task.state === 'RUNNING'" class="danger" ng-click="data.stopTask(task)">Stop</a>
                    <a ng-if="task.isComplete" class="danger" ng-click="data.deleteTask(task)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div> <!-- End TaskListCtl -->