<div class="col-md-10 col-centered" ng-controller="WorkerListCtrl">
    <div class="row list-header">
        <h2>Workers</h2>
        <div class="list-actions">
            <button ng-click="newWorkerConf.addingWorker = true" type="button" class="btn btn-success btn-sm">New</button>
            <button ng-click="data.refreshList()" type="button" class="btn btn-info btn-sm">Refresh List</button>
        </div>
    </div>
    <div class="row create-item-area" ng-if="newWorkerConf.addingWorker">

        <form class="form-horizontal" name="newWorkerForm" >
            <div class="form-group" ng-class="newWorkerForm.tags.$valid ? '' : 'has-error' ">
                <label class="col-sm-2 control-label">Worker tags</label>
                <div class="col-sm-10">
                    <input type="text" name="tags" class="form-control" placeholder="value1,value2" ng-model="newWorkerConf.newWorker.rawTags">
                    <span class="help-block">A comma separated list of tags to use to specify the worker's capabailities.</span>
                </div>
            </div>
            <div class="form-group" ng-class="newWorkerForm.checkInterval.$valid ? '' : 'has-error' ">
                <label class="col-sm-2 control-label">Worker check interval</label>
                <div class="col-sm-10">
                    <input type="text" 
                        name="checkInterval" 
                        class="form-control" 
                        placeholder="2" 
                        ng-model="newWorkerConf.newWorker.checkInterval" 
                        pattern="[1-9][0-9]*(?:[\.][0-9]*)?|0*\.0*[1-9][0-9]*"
                        required>
                    <span class="help-block">The interval at which the worker should check for new tasks in seconds. Must be >0.</span>
                </div>
            </div>

            <!-- Submit -->
            <hr/>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4 pull-right">
                    <button 
                        type="submit" 
                        class="btn btn-success btn-sm stacked-right" 
                        ng-disabled="!newWorkerForm.$valid" 
                        ng-click="newWorkerConf.launchWorker()">
                        Launch Worker
                    </button>
                    <button type="submit" class="btn btn-danger btn-sm stacked-right" ng-click="newWorkerConf.addingWorker = false">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-condensed row-centered">
        <thead> 
            <tr>
                <th>#</th>
                <th>Pid</th>
                <th>Tags</th>
                <th>Date Started</th>
                <th>Logfile</th>
                <th>Poll Interval</th>
                <th>Stop</th>
            </tr> 
        </thead>
        <tbody ng-repeat="worker in data.workers track by worker.id">
            <tr>
                <th scope="row">{{ ($index+1) }}</th>
                <td><a ng-href="{{baseUrl}}/worker/{{worker.id}}">{{ worker.pid }}</a></td>
                <td>{{ worker.rawTags }}</td>
                <td>{{ worker.startedTs | date:'yyyy/MM/dd HH:mm:ss a' }}</td>
                <td><a ng-href="{{baseUrl}}/worker/{{worker.id}}/logs">{{ worker.logfile }}</a></td>
                <td>{{ worker.checkInterval }} seconds</td>
                <td>
                    <button ng-click="data.stopWorker(worker)" type="button" class="btn btn-danger btn-sm">Stop</button>
                </td>
            </tr>
        </tbody>
    </table>
</div> <!-- End TaskTypeListCtl -->