<div class="col-md-10 col-centered" ng-controller="TaskTypeListCtl">
    <div class="row list-header">
        <h2>Task Types</h2>
        <div class="list-actions">
            <button ng-click="data.refreshTaskTypes()" type="button" class="btn btn-info btn-sm">Refresh List</button>
        </div>
    </div>
    <table class="table table-condensed">
        <thead> 
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Tags</th>
                <th>Date Loaded</th>
                <th>Config File</th>
                <th>Current Version</th>
            </tr> 
        </thead>
        <tbody>
            <tr ng-repeat="taskType in data.taskTypes track by taskType.name">
                <th scope="row">{{ ($index+1) }}</th>
                <td><a ng-href="{{baseUrl}}/task_type/{{taskType.name}}">{{ taskType.name }}</a></td>
                <td>{{ taskType.tags.join(', ') }}</td>
                <td>{{ taskType.loadedTs | date:'yyyy/MM/dd HH:mm:ss a' }}</td>
                <td> {{ taskType.configFile }} </td>
                <td> {{ taskType.versionHash }} </td>
            </tr>
        </tbody>
    </table>
</div> <!-- End TaskTypeListCtl -->